<!-- =========

	Template Name: Play
	Author: UIdeck
	Author URI: https://uideck.com/
	Support: https://uideck.com/support/
	Version: 1.1

========== -->

<!DOCTYPE html>
<html lang="en">

<body>
  <h1>Hello World</h1>
  <% products.map((product) => { %>
    <h4>
      <a href="/products/<%=product.id%>"><%=product.productTitle %></a>
    </h4>
  <p>
    <%=product.productDescription %>
  </p>
  <p>ราคา : <%=product.productPrice %> บาท</p>
  <hr>
  <% }) %>

</body>

</html>